@model UpdateEventViewModel
@{
    ViewData["Title"] = "UpdateEvent";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    @Html.HiddenFor(x=>x.EventId)
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control mb-2" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control mb-2" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <label>Adres</label>
    <input type="text" asp-for="Address" class="form-control mb-2" />
    <span asp-validation-for="Address" class="text-danger"></span>
    <label>Kontenjan</label>
    <input type="text" asp-for="Capacity" class="form-control mb-2" />
    <span asp-validation-for="Capacity" class="text-danger"></span>
    <label>Etkinlik tarihini seçiniz</label>
    @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })

    <label>Şehir</label>
    @Html.DropDownListFor(p => p.CityName, (List<SelectListItem>)ViewBag.cityListBag, new { @class = "form-control w-100 mb-2" })
    <span asp-validation-for="CityName" class="text-danger"></span>
    <label>Kategori</label>
    @Html.DropDownListFor(p => p.CategoryName, (List<SelectListItem>)ViewBag.categoryListBag, new { @class = "form-control w-100 mb-2" })
    <span asp-validation-for="CategoryName" class="text-danger"></span>

    <label>Oluşturan Kullanıcı </label>
    @Html.DropDownListFor(p => p.FullName, (List<SelectListItem>)ViewBag.userListBag, new { @class = "form-control w-100 mb-2" })
    <span asp-validation-for="FullName" class="text-danger"></span>


    <button class="btn btn-primary">Ekle</button>

</form>


