@model List<UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Email</th>
        <th>Kullanıcı Adı</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.Email</td>
            <td>@item.UserName</td>
            <td><a href="/Category/DeleteCategory/@item.Id" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<span>**** Kullanıcı silme işlem geri alınamaz.</span>
